/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #282143;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #3d2c6f;
  width: 100%;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #ff530d;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  margin-top: 20px;
  width: 90%;
  max-width: 900px;
}

.input-container,
.output-container {
  margin-bottom: 20px;
  background-color: #f0f0f5;
  border-radius: 8px;
  padding: 20px;
  color: #333;
}

label {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  color: #333;
}

button {
  background-color: #00b37e;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #009e6f;
}

#output {
  min-height: 100px;
  background-color: #ffffff;
  color: #000;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}
