<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monkey SQL</title>
    <link rel="stylesheet" href="../static/CSS/index.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Lexer</a></li>
          <li><a href="#">Sintactic</a></li>
          <li><a href="#">Semantico</a></li>
          <li><a href="#">Compilador</a></li>
        </ul>
      </nav>
    </header>

    <section class="hero">
      <div class="hero-content">
        <h1>
          Compiler <br /><span class="highlight">Monkey SQL</span> <br />Online
        </h1>
        <p>
          Nuestro analizador léxico y sintáctico de SQL te permite verificar y
          depurar tus consultas, detectando errores y optimizando tu código.
          Simplifica el desarrollo de consultas SQL con análisis detallados y
          precisos.
        </p>
      </div>
      <div class="hero-image">
        <img src="../img/chhanguillo.png" alt="Monkey working on computer" />
      </div>
    </section>
  </body>
</html>
