<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Editor</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.17/codemirror.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.17/theme/dracula.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/estilos.css') }}"
    />
  </head>
  <body>
    <div class="editores">
      <div class="archivos">
        <textarea id="archivos"></textarea>
      </div>
      <div class="sql">
        <textarea id="sql-editor"></textarea>
      </div>
    </div>

    <script src="{{ url_for('static', filename='JAVASCRIPTS/compilador.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.17/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.17/mode/sql/sql.min.js"></script>
  </body>
</html>
