<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/login.css') }}">
    <script>
      function validateForm() {
        event.preventDefault();
        var direccion = document.getElementById("direccion").value;
        var password = document.getElementById("password").value;
        var usuario = document.getElementById("usuario").value;
        var bd = document.getElementById("base-de-datos").value;
        /*
        if (password.length < 6) {
          alert("La contraseña debe tener al menos 6 caracteres.");
          return false;
        }

        if (usuario.length > 20) {
          alert("El nombre de usuario no puede tener mas de 20 caracteres.");
          return false;
        }

        if (bd.length > 20) {
          alert("El nombre de la base de datos no puede tener mas de 20 caracteres.");
          return false;
        }

        if (direccion.length > 50) {
          alert("La direccion de la base de datos no puede tener mas de 50 caracteres.");
          return false;
        }
        */
        const data = {
            direccion: direccion,
            usuario: usuario,
            contra: password,
            database: bd
        };

        fetch('/bd', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            if (data.Error){
              alert(data.Error)
              return
            }
            window.location.href = "{{ url_for('principal') }}";
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
    </script>
    <style>
      .orange-text {
        color: #ff5e00;
      }
    </style>
  </head>
  <body>
    <div class="login-box">
      <p>Login to <span class="orange-text">MonkeySQL</span></p>
      <form>
        <div class="user-box">
          <input id="direccion" required="" name="direccion" type="text" />
          <label>Dirección</label>
        </div>

        <div class="user-box">
          <input required="" name="usuario" id="usuario" type="text" />
          <label>Usuario</label>
        </div>

        <div class="user-box">
          <input id="password" required="" name="password" type="password" />
          <label>Contraseña</label>
        </div>

        <div class="user-box">
          <input required="" name="base-de-datos" id="base-de-datos" type="text" />
          <label>Base de datos</label>
        </div>
        <button onclick="validateForm()">
          Entrar
        </button>
      </form>
    </div>
  </body>
</html>
