<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/CSS/login.css" />
    <script>
      function validateForm() {
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;
        var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

        if (!emailPattern.test(email)) {
          alert("Por favor, introduce un correo electrónico válido.");
          return false;
        }

        if (password.length < 6) {
          alert("La contraseña debe tener al menos 6 caracteres.");
          return false;
        }

        return true;
      }
    </script>
    <style>
      .orange-text {
        color: #ff5e00;
      }
    </style>
  </head>
  <body>
    <div class="login-box">
      <p>Login to <span class="orange-text">MonkeySQL</span></p>
      <form onsubmit="return validateForm()">
        <div class="user-box">
          <input id="email" required="" name="email" type="text" />
          <label>Dirección</label>
        </div>

        <div class="user-box">
          <input required="" name="usuario" type="text" />
          <label>Usuario</label>
        </div>

        <div class="user-box">
          <input id="password" required="" name="password" type="password" />
          <label>Contraseña</label>
        </div>

        <div class="user-box">
          <input required="" name="base-de-datos" type="text" />
          <label>Base de datos</label>
        </div>
        <a type="submit">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Entrar
        </a>
      </form>
    </div>
  </body>
</html>
