<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SQL Editor Online</title>
    <link rel="stylesheet" href="../static/CSS/semantico.css"">
  </head>
  <body>
    <div class="container">
      <div class="editor">
        <h3>Input</h3>
        <textarea
          id="sql-input"
          placeholder="-- Escribe tu consulta SQL aquí..."
        ></textarea>
        <button class="button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="white"
            width="24px"
            height="24px"
          >
            <path d="M8 5v14l11-7z" />
          </svg>
          <span>Run</span>
        </button>
      </div>

      <div class="output">
        <h3>Output</h3>
        <div id="output-content">
          <!-- Aquí aparecerán los resultados -->
          <table></table>
        </div>
      </div>
    </div>
  </body>
</html>
