<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MonkeySQL</title>
    <link rel="stylesheet" href="../static/CSS/semantico.css" />
  </head>
  <body>
    <header class="rounded-header">
      <nav>
        <ul>
          <li>
            <span class="title">Monkey/<span class="sql">SQL</span>/></span>
          </li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Lexer</a></li>
          <li><a href="#">Sintactic</a></li>
          <li><a href="#">Compiler</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="input-container">
        <label for="sql-input">Input</label>
        <textarea
          id="sql-input"
          placeholder="-- Escribe tu consulta SQL aquí..."
        ></textarea>
        <button id="run-btn">Run</button>
      </div>

      <div class="output-container">
        <label for="output">Output</label>
        <div id="output"></div>
      </div>
    </main>
  </body>
</html>
